[X] Upload notebook and powerpoint to CDAV
[X] Verify quality
[X] Compile everything in a powerpoint presentation
[X] Use power BI to generate visuals
[X] Perform statistical analysis
[X] Log everything
[X] Use a Jupytr notebook to clean dataset (if needed)
[X] Create a project folder
[X] Ensure data integrity
[X] Ensure data validity
[X] Source datasets